<h1>  <%= @topic.title %></h1>
<h2>  <%= simple_format @topic.description %></h2>

<table>
  <tr>
    <th>Comments</th>
    <th>User</th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.description %></td>
    <td><%= comment.username%></td>
    <td><% if comment.logged_in_as_author(session[:user_id])%>
      <%= link_to 'Edit', edit_comment_path(comment) %>
    <% end %></td>
    <% delete_msg = comment.logged_in_as_author(session[:user_id]) ? 'Is your comment really that lame?' : "Nice try! You can't delete other peoples' comments." %>
    <td class="last"><%= link_to 'Delete', comment, confirm: delete_msg, method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to @topic.title, @topic %> |
<%= link_to 'Topics', topics_path %> |
<%= link_to 'New Comment', new_comment_topic_path(@topic) %>
