<h1>Cocktail Enthusiasts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= link_to topic.title, topic %></td>
    <td><%= topic.username%></td>
    <td><%= pluralize(topic.votes.length, "vote") %></td>
    <% if session[:user_id] %>
      <% if topic.votes_by_user_id(session[:user_id]).empty? %>
        <td><%= button_to '+1', votes_path(topic_id: topic.id), method: :post %></td>
      <% else %>
        <td><%= button_to '-1', subtract_votes_path(topic_id: topic.id), method: :post %></td>
      <% end %>
    <% end %>
    <% delete_msg = topic.logged_in_as_author ? 'Are you seriously gonna delete this awesome recipe?' : "Nice try! You can't delete other people's posts." %>
    <td class="last"><%= link_to 'Delete', topic, confirm: delete_msg, method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Topic', new_topic_path %>
