<h1>Cocktail Enthusiasts</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= link_to topic.title, topic %></td>
    <td><%= pluralize(topic.votes.length, "vote") %></td>
    <td><%= button_to '+1', votes_path(topic_id: topic.id), method: :post %></td>
    <td><%= button_to '-1', subtract_votes_path(topic_id: topic.id), method: :post %></td>
    <td class="last"><%= link_to 'Delete', topic, confirm: 'Are you seriously gonna delete this awesome recipe?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Topic', new_topic_path %>
