<title><%= @topic.title%></title>

<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @topic.title %>
</p>

<p>
  <b>Username:</b>
  <%= @topic.username %>
</p>

<p>
  <b>Description</b>
  <%= simple_format @topic.description %>
</p>

<hr>

<p>
  <b>Add Comment</b>
  <%= render 'comment_form' %>
</p>

<hr>

<p>
  <% comments = @topic.comments %>
  <% if comments.count>0 %>
    <b>Comments</b>
    <table class="commentTable1">
      <tr style="border-bottom: 1px solid white;">
        <th class="commentDescriptionCol" style="padding: 5px"><em>Comment</em></th>
        <th class="commentDescriptionCol2" style="padding: 5px; border-left: 1px solid white;"><em>User</em></th>
      </tr>
    <% comments.each do |comment| %>
      <tr>
        <td style="padding: 5px;"><%= simple_format comment.description %></td>
        <td class="commentDescriptionCol2" style="padding: 5px; border-left: 1px solid white"><%= comment.username %></td>
      </tr>
    <% end %>
    </table>
  <% end %>
</p>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %> |
<%= link_to 'Comments', view_comments_topic_path(@topic)%>