<%= render 'show_topic' %>

<% if @topic.comments.empty? %>
	<h3>There are currently no comments on this cocktail.</h3>
<% else %>
	<h3><em>Comments</em></h3>
	<% @topic.comments.each do |comment| %>
		<ul class="comments">
		  <li>
		    <td style="padding:5px"><%= comment.description %>
		  </li>
		  <li>
		  	by <%= comment.username %>
		    <span class="commentOptions" >
			    <% if comment.logged_in_as_author(session[:user_id])%>
			      <%= link_to 'Edit', edit_comment_path(comment.id) %>
			    <% end %>
			    <% delete_msg = comment.logged_in_as_author(session[:user_id]) ? 'Is your comment really that lame?' : "Nice try! You can't delete other peoples' comments." %> |
			    <%= link_to 'Delete', comment, confirm: delete_msg, method: :delete %>
			  </span>
		  </li>
		</ul>
	<% end %>
<% end %>

<% if topic.logged_in_as_author(session[:user_id]) %>
	<%= link_to 'Edit Cocktail', edit_topic_path(@topic) %> |
<% end %>
<%= link_to 'Back to Cocktails List', topics_path %> |
<%= link_to 'New Comment', new_comment_topic_path(@topic) %>