<h2>Create a user account for Cocktail-Enthusiasts</h2>

<%= form_for @user do |f| %>

  <div class="field">
    <%= f.label :old_password %><br />
    <%= f.password_field :old_password %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
    <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Update my password" %>
  </div>
<% end %>