<% if session[:user_id] %>
  <%= form_tag '/logout' do %>
    <p>
      Currently logged in as <b><%= User.find(session[:user_id]).name %></b>
      <%= submit_tag 'Log out' %>
    </p>
  <% end %>
<% else %>
  <%= form_tag '/login' do %>
    <p>Log in as: <%= text_field :name, :name %> <%= submit_tag 'Log in' %></p>
  <% end %>
<% end %>
<hr>