<% if session[:user_id] %>
  <%= form_tag '/logout' do %>
    <p>
      Currently logged in as <b><%= User.find(session[:user_id]).name %></b>
      <%= submit_tag 'Log out' %>
    </p>
  <% end %>
<% else %>
  <%= form_tag(login_path, method: :post) do %>
    <p>Log in as: 
    	<%= text_field :name, :name %> 
    	<%= password_field :password, :password %>
    	<%= submit_tag 'Log in' %>
    	Don't have a user account?
    	Sign up <%= link_to 'here', signup_path %>
    </p>
  <% end %>
<% end %>
<hr>