<!DOCTYPE html>
<html>
<head>
  <title>Cocktail Enthusiasts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div id='notice'>
    <%= render :partial => 'layouts/flash' , :locals => { :flash => flash } %>
  </div>
	<%= yield %>
	<%= debug(params) if Rails.env.development? %>
</body>
</html>
